.room-section {

    width: 100%;
    max-width: 1550px;
    height: 738px;
    padding: 100px 156px 100px 156px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 100px;
    background-color: #F8F9FB;

}

.room-starter {

    display: flex;
    flex-direction: column;
    gap: 15px;

}

.room-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.room-heading {
    display: flex;
    justify-content: center;
}

.room-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.room-grid {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.room-sub {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

@media (max-width:1290px) {


    .room-section {

        width: 100%;
        max-width: 1290px;
        height: 1403px;
        padding: 60px 20px 60px 20px;

        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 100px;
        background-color: #F8F9FB;

    }

    .room-grid{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:60px;

    }
}

@media (max-width:768px) {


    .room-section {

        width: 100%;
        max-width: 768px;
        height: 1403px;
        padding: 60px 20px 60px 20px;

        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 100px;
        background-color: #F8F9FB;

    }

    .room-grid{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:60px;

    }
}

