.service-section {

    width: 100%;
    max-width: 1550px;
    height: 954px;
    padding: 100px 157px 100px 157px;

    display: flex;
    flex-direction: column;
    gap: 100px;
}

.service-starter {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.service-heading {
    display: flex;
    justify-content: center;
}

.service-grid {

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 48px;
}

.col1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 350px;
    height: 258px;
    transition: background-color 0.4s ease-in;
}

.col1 p {
    text-align: center;
}

.col1:hover {

    cursor: pointer;
    background-color: chocolate;

    & p {
        color: #FFFFFF;
    }

    & p b {
        color: #FFFFFF;
    }
}

@media (max-width: 1290px) {


    .service-section {

        width: 100%;
        max-width: 1290px;
        height: 2051px;
        padding: 60px 20px 60px 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .service-grid {

        display: grid;
        grid-template-columns: auto;
        gap: 48px;
    }

}

@media (max-width: 768px) {


    .service-section {

        width: 100%;
        max-width: 768px;
        height: 2051px;
        padding: 60px 20px 60px 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .service-grid {

        display: grid;
        grid-template-columns: auto;
        gap: 48px;
    }

}