footer {
    /* Footer */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 600px;
    height: 329px;

    padding: 100px 80px;
    gap: 10px;

    background: #FFFFFF;
}

.frame127 {
    /* Frame 127 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    margin: 0 auto;
    width: 280px;
    height: 129px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame129 {
    /* Frame 129 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    margin: 0 auto;
    width: 150px;
    height: 174px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


}

.frame130 {
    /* Frame 130 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    margin: 0 auto;
    width: 150px;
    height: 174px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}


.frame131 {
    /* Frame 131 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    margin: 0 auto;
    width: 150px;
    height: 174px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

}

.frame132 {
    /* Frame 132 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    margin: 0 auto;
    width: 150px;
    height: 174px;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;

}


footer h2,
footer h4 {
    margin: 0;
    font-weight: 600;
}

footer p,
footer a {
    margin: 0;
    color: #777;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    color: #000;
}