* {
    margin: 0;
    padding: 0;
}

.box-layout {
    box-sizing: border-box;
    border: 2px solid;
    border-color: red;
    height: 200px;
    width: 200px;
}

.content-layout {
    box-sizing: content-box;
    border: 2px solid;
    border-color: red;
    height: 200px;
    width: 200px;
}

.box-layout ul {
    list-style-type: disc;
}