.reviewscreen {
    /* Review Screen */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 157px;
    gap: 10px;

    width: 1550px;
    height: 608px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;

}