.about-section {

    width: 100%;
    max-width: 1550px;
    height: 1142px;
    padding: 100px 129px 100px 129px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.about-text {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.line-img {
    height: 2px;
    align-items: center;
}

.about-img1 {

    display: flex;
    column-gap: 117px;

}

.about-img2 {

    display: flex;
    flex-direction: row-reverse;
    column-gap: 117px;

}

.img-frame {

    display: flex;
    border: 2px;
    border-color: whitesmoke;
    border-style: solid;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.98); */
    background: #FFFFFF;
    border-radius: 34px;
    padding: 14px;
}

.btn-about {

    padding: 12px 24px 12px 24px;
    border-radius: 12px;
    border-style: solid;
    border-color: #FF8D41;
    color: #FF8D41;
    background: transparent;
    transition: background-color 0.4s ease-in-out;
}

.btn-about:hover {

    cursor: pointer;
    color: #FFFFFF;
    background-color: #FF8D41;

}

@media (max-width: 1290px) {

    .about-section {
        width: 100%;
        max-width: 1024px;
        height: 1142px;
        padding: 80px 60px 80px 60px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;
    }

    .about-img1 {

        width: 100%;
        max-width: 990px;
        height: max-content;
        display: flex;
        column-gap: 34px;
        align-items: center;

    }

    .about-img2 {

        width: 100%;
        max-width: 990px;
        height: max-content;
        display: flex;
        flex-direction: row-reverse;
        column-gap: 34px;

    }

    .img-frame {

        display: flex;
        border: 2px;
        border-color: whitesmoke;
        border-style: solid;

        width: 100%;
        max-width: 990px;
        height: fit-content;
        /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.98); */
        background: #FFFFFF;
        border-radius: 34px;
        padding: 14px;
    }

    .img-frame img {
        /* width: 100%; */
        max-width: 524px;
        height: 200px;
    }

}


@media (max-width : 768px) {

    .about-section {

        width: 100%;
        max-width: 768px;
        height: max-content;
        padding: 60px 20px 60px 20px;
        gap: 60px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .about-img1,
    .about-img2 {

        width: 100%;
        max-width: 768px;
        padding: 60px 20px 60px 20px;
        flex-direction: column;
        gap: 40px;
    }

    .img-frame {
        /* display: flex; */
        flex-direction: column;
        /* max-width: 42%; */
    }



}