.state-section {
    width: 100%;
    max-width: 1550px;
    height: 119px;
    background-color: #FF8D41;

    display: flex;
    justify-content: space-between;
    padding: 20px 128px 20px 128px;
    align-items: center;
    color: #FFFFFF;
}

.state-item {

    p {
        color: #FFFFFF;
    }

    p b {
        color: #FFFFFF;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
}


@media all and (max-width: 768px) {
    
    .state-section{
        width: 100%;
        max-width: 768px;
        height: fit-content;
        padding: 20px;

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        /* display: grid;
        grid-template-columns: auto auto;
        padding: 40px; */
        row-gap: 34px;
        column-gap: 34px;
    }

}